
<!-- Toolbar -->
<div>
  <mat-toolbar>
  </mat-toolbar>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col mb-5">
          <button type="button" [class]=primaryButton (click)="checkFunction()">CHECK</button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span class="dot" [style.background-color]="dot_1"></span>
        </div>
        <div class="col-1 green">
          <span class="dot" [style.background-color]="dot_2" ></span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div echarts [options]="options" [merge]="updateOptions" class="demo-chart"></div>
    </div>
  </div>
</div>

