
<!-- Toolbar -->
<div>

</div>
<div>
  <div class="row">
    <div class="col-6">

      <div class="row align-items-center checkArea">
        <div class="col-2 pl-3">
          <button type="button" [class]=primaryButton (click)="checkFunction()">CHECK</button>
        </div>
        <div class="col-2 text-center">
          <span class="dot" [style.background-color]="dot_1"></span>
        </div>
        <div class="col-1  text-center">
          <span class="dot" [style.background-color]="dot_2" ></span>
        </div>
      </div>
    </div>
    <div class="col" id="chart-container">
      <app-chart-component></app-chart-component>
    </div>
  </div>
</div>
