<div style="padding-top: 20px">
  <div style="display: block;">
    <canvas baseChart class="chart"
            [data]="lineChartData1"
            [options]="lineChartOptions"
            [type]="lineChartType"
    ></canvas>
  </div>
  <div style="">
    <canvas baseChart class="chart"
            [data]="lineChartData2"
            [options]="lineChartOptions"
            [type]="lineChartType"
    ></canvas>
  </div>
  <div style="display: block;">
    <canvas baseChart class="chart"
            [data]="lineChartData3"
            [options]="lineChartOptions"
            [type]="lineChartType"
    ></canvas>
  </div>
  <div style="display: block; ">
    <canvas baseChart class="chart"
            [data]="lineChartData4"
            [options]="lineChartOptions"
            [type]="lineChartType"
    ></canvas>
  </div>
</div>

